.main-container {
        background-image: url('../logo/main.jpg'), 
        linear-gradient(to right, rgba(255, 165, 0, 0), rgba(255, 255, 255, 0));
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed; 
    filter: brightness(1);
}


a#login-tab.active,
a#register-tab.active {
    background-color: white !important;
    color: #333 !important;
    border: none !important;
}

a#register-tab,a#login-tab {
    background-color: transparent !important;
    border: transparent !important;
}