.main-container {
    background-image: url('../logo/main.jpg'), 
                      linear-gradient(to right, rgba(255, 165, 0, 0.4), rgba(0, 0, 255, 0.4)); /* Orange-to-Blue Gradient Overlay */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed; 
    filter: brightness(0.5);
}


a#login-tab.active,
a#register-tab.active {
    background-color: white !important;
    color: #333 !important;
    border: none !important;
}

a#register-tab,a#login-tab {
    background-color: transparent !important;
    border: transparent !important;
}