{% extends 'base.html' %}
{% load static %}
{% block title %} Main Page {% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert mt-2 {% if message.tags == 'error' %} alert-danger {% endif %} alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="card mx-4 mt-3 py-3">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Create Post</h4>
                <div class="mb-4 form-group">
                    {{ form.title }}
                    {% if form.title.errors %}
                    <div class="text-danger small">
                        {% for error in form.title.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-4 form-group">
                    {{ form.content }}
                    {% if form.content.errors %}
                    <div class="text-danger small">
                        {% for error in form.content.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <p class="text-end" id="char-count">0/500</p>
                <div class="display row">

                </div>
                {% if form.video.errors %}
                    <div class="text-danger small">
                        {% for error in form.video.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.image.errors %}
            <div class="text-danger small">
                {% for error in form.image.errors %}
                {{ error }}
                {% endfor %}
            </div>
        {% endif %}
                {{ form.image }}
                {{ form.video }}
                <div class="btn-group">
                    <a class="photo-btn btn border border-2 rounded me-3"><i class="fa-regular fa-image"></i> Photo</a>
                    <a class="video-btn btn border border-2 rounded"><i class="fa-regular fa-video"></i> Video</a>
                </div>
                <button type="submit" class="btn form-control mt-2 btn-secondary">Share</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% for post in posts %}
    <div class="card mx-4 mt-3" >
        <div class="card-titile mx-3 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="row">
                    <div class="col-3">
                        {% if post.user.info.profile %}
                        <img src="{{ post.user.info.profile.url }}" width="40" class="rounded-circle me-3">
                        {% else %}
                        <img src="{% static 'logo/profile_logo.png' %}" class="rounded-circle me-2" width="40">
                        {% endif %}
                    </div>
                    <div class="col"><strong>{{ post.user.username}}</strong>
                        <br><span class="text-secondary">{{ post.date|timesince }} ago</span>
                    </div>
                </div>
                {% if request.user == post.user %}
                <a href="{% url 'website:post-delete' post.id %}" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                {% endif %}
            </div>

        </div>
        <div class="card-body">
            <h6>{{ post.title }}</h6>
            <p>{{ post.content}}</p>
            <div class="row">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="w-50" style="height: 50%">
                {% endif %}
                {% if post.video %}
                <video class="w-50" height="300" controls>
                    <source src="{{ post.video.url }}" type="video/mp4">
                </video>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-3">
                    <a class="btn" {% if request.user.is_authenticated %} hx-get="{% url 'website:like-view' post.id %}"  hx-target="#post-card-{{post.id}}" hx-swap="outerHTML" {% endif %}>
                        {% if post.liked_by_user %}
                        <i class="fa-solid fa-heart text-danger"></i>
                        {% else %}
                        <i class="fa-regular fa-heart"></i>
                        {% endif %} <spand>
                            {% if post.post_get_likes %}
                            <span
                                class="{% if post.liked_by_user %} text-danger {% endif %}">{{post.post_get_likes.count}}</span>
                            {% endif %}
                        </spand>
                    </a>
                </div>
                <div class="col-2"><a class="btn {% if request.user.is_authenticated %} comment_btn {% endif %}"><i class="fa-regular fa-comment"></i></a></div>
            </div>
            <div class="inputGroup mt-1 d-none" >
                <form hx-post="{% url 'website:comment-view' post.id %}" hx-target="#post-card-{{post.id}}" hx-swap="outerHTML">
                    {% csrf_token %}
                    <div class="input-group">
                        {% if post.user.info.profile %}
                        <img src="{{ post.user.info.profile.url }}" width="40" class="rounded-circle me-3">
                        {% else %}
                        <img src="{% static 'logo/profile_logo.png' %}" class="rounded-circle me-2" width="40">
                        {% endif %}
                    <input type="text" name="comment-text" class="form-control" placeholder="Write a comment....">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                    </div>
                </form>
            </div>
            <div class="comment-section" id="post-card-{{post.id}}">
                <div class="comments-container">
            {% for comment in post.post_get_comments %}
            <div class="input-group">
                    {% if comment.user.info.profile %}
                        <img src="{{ comment.user.info.profile.url }}" width="40" height="40" class="rounded-circle me-3">
                        {% else %}
                        <img src="{% static 'logo/profile_logo.png' %}" width="40" height="40" class="rounded-circle me-3">
                        {% endif %}
                    <div class="card mt-2 form-control">
                        <div >
                            <strong>{{comment.user.username}} </strong><span class="text-secondary">{{ comment.date|timesince }} ago</span><br>
                            {{ comment.content }}
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
                {% if post.post_get_comments and post.post_get_comments.count > 2 %}
                    <button class="toggle-comments btn btn-link mt-2">See All Comments</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    const display = document.querySelector('.display');
    {% if request.user.is_authenticated %}
    document.querySelector('.photo-btn').addEventListener('click', function () {
        document.getElementById('id_image').click();
    });

    document.querySelector('.video-btn').addEventListener('click', function () {
        document.getElementById('id_video').click();
    });
    document.getElementById('id_image').addEventListener('change', function () {
        const file = this.files[0];
        if (!file) return;

        const imgURL = URL.createObjectURL(file);
        display.innerHTML += `<img src="${imgURL}" class="preview-img w-50" style="height: 50%">`;
    });
    document.getElementById('id_video').addEventListener('change', function () {
        const file = this.files[0];
        if (!file) return;

        const videoURL = URL.createObjectURL(file);
        display.innerHTML += `
            <video controls class="preview-video w-50" height="300">
                <source src="${videoURL}">
            </video>
        `;
    });
    const textarea = document.getElementById('id_content');
    const charCount = document.getElementById('char-count');
    const maxChars = 500;

    textarea.addEventListener('input', () => {
        let value = textarea.value;
        if (value.length > maxChars) {
            textarea.value = value.slice(0, maxChars);
            value = textarea.value;
        }

        charCount.textContent = `${value.length}/${maxChars}`;
    });
    {% endif %}

document.querySelectorAll('.comment_btn').forEach(function(button) {
    button.addEventListener('click', function() {
        const row = this.closest('.row');
        const inputGroup = row.nextElementSibling;
        
        if (inputGroup && inputGroup.classList.contains('inputGroup')) {
            inputGroup.classList.toggle('d-none');
        }
    });
});

document.querySelectorAll('.comment-section').forEach(section => {

    const commentsContainer = section.querySelector('.comments-container');
    const comments = commentsContainer.querySelectorAll('.input-group');
    const toggleBtn = section.querySelector('.toggle-comments');
    const initialVisible = 2; // show only 2

    // Hide comments after first 2
    comments.forEach((c, i) => {
        if (i >= initialVisible) c.classList.add('d-none');;
    });

    toggleBtn?.addEventListener('click', () => {
        const expanded = toggleBtn.dataset.expanded === 'true';

        if (expanded) {
            // Collapse
            comments.forEach((c, i) => {
                if (i >= initialVisible) c.classList.add('d-none');
            });
            toggleBtn.textContent = "See All Comments";
            toggleBtn.dataset.expanded = "false";
        } else {
            // Expand
            comments.forEach(c => c.classList.remove('d-none'));
            toggleBtn.textContent = "Hide Comments";
            toggleBtn.dataset.expanded = "true";
        }
    });
});

</script>
{% endblock %}